<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="block-navigation(myTitle)">
    
     <div class="footer">
    <div class="contentfooter">
        <img src="/img/Logo_e-commerce.png" alt="logo" class="logo-footer">

        <!-- CONTACT US posizionato sotto il logo -->
        <div class="contactus">
            <a href="tel:+3512315211">CONTACT US</a>
        </div>

        <p>FOLLOW US ON SOCIAL</p>
        <div class="social-icons">
            <a href="https://www.instagram.com/" target="_blank"><img src="/img/iconainstagram.png" alt="Instagram"></a>
            <a href="https://www.facebook.com/" target="_blank"><img src="/img/iconafacebook.png" alt="Facebook"></a>
            <a href="https://www.tiktok.com/login?redirect_url=https%3A%2F%2Fwww.tiktok.com%2Fit-IT%2F&lang=en&enter_method=mandatory" target="_blank"><img src="/img/iconatiktok.png" alt="TikTok"></a>
            <a href="https://api.whatsapp.com/send?phone=3512315211&text=Salve,%20avrei%20bisogno%20di%20assistenza&source=web&data=" target="_blank">
            	<img src="./img/iconawhatsapp.png" alt="Whatsapp">
            </a>
        </div>
    </div>
</div>
    </div>
</body>
</html>