<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>BetaSport</title>
<!-- Bootsrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<!-- Css -->
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>


	<nav th:insert="~{fragments/navigation :: block-navigation('Navbar')}"></nav>


	<section class="hero">
		<div class="hero-content">
			<h1>MADE FOR COMFORT</h1>
			<p>Explore our new collection now</p>
			<button type="button" class="btn btn-primary" style="background-color:#fff;color:#000;border:white">SHOP NOW</button>
		</div>
	</section>

	<!-- SEZIONE DONNA -->
	<section class="fashion-section">
		<div class="container">
			<div class="card" style="width: 20rem;">
			  <img src="img/fotodonnahome.png" class="img-fluid" alt="Abbigliamento donna" style="border-radius:10px">
			  <div class="card-body">
			    <h3 class="card-title">Clothes for Her</h3>
			    <p class="card-text">Esplora le ultime tendenze per lei</p>
			    <button type="button" class="btn btn-primary">SHOP NOW</button>
			  </div>
			</div>

			<div class="image-box" style="margin-left:100px;">			
			</div>
			<img src="/img/fotodonnahome2.png" alt="Abbigliamento sportivo donna">
		</div>
	</section>

	<!-- SEZIONE UOMO -->
	    <div class="sezioneuomo">
        <div class="immagine-boxuomo" style="margin-right:100px;">
            <img src="/img/fotohomeuomo.png" class="img-fluid" alt="Abbigliamento uomo" style="border-radius:10px">
        </div>
			<div class="card" style="width: 20rem;">
			  <img src="img/fotohomeuomo2.png" class="card-img-top" alt="Abbigliamento uomo">
			  <div class="card-body">
			    <h3 class="card-title">Clothes for Him</h3>
			    <p class="card-text">Esplora le ultime tendenze per lui</p>
			    <button type="button" class="btn btn-primary">SHOP NOW</button>
			  </div>
			</div>
    </div>
    
	<section class="accessori-section">
		<div class="container">
			<div class="card" style="width: 20rem;">
			  <img src="img/img_accessori.png" class="img-fluid" alt="Accessori" style="border-radius:10px">
			  <div class="card-body">
			    <h3 class="card-title">Accessories</h3>
			    <p class="card-text">Esplora le ultime tendenze</p>
			    <button type="button" class="btn btn-primary">SHOP NOW</button>
			  </div>
			</div>

			<div class="image-box" style="margin-left:100px;">			
			</div>
			<img src="/img/img_accessori_2.png" alt="Accessori">
		</div>
	</section>
	
	<section class="about-section">
        <h2>About us</h2>
        <div class="team-container">
            <div class="team-member">
                <img src="/img/icona_utente_1.png" >
                <p class="name">Alessia Betti</p>
                <div class="stars">★★★★★</div>
            </div>
            <div class="team-member">
                <img src="/img/icona_utente_2.png" >
                <p class="name">Rocco Tanica</p>
                <div class="stars">★★★</div>
            </div>
            <div class="team-member">
                <img src="/img/icona_utente_3.png">
                <p class="name">Silvia Scapece</p>
                <div class="stars">★★★★</div>
            </div>
        </div>
    </section>
    
<footer th:insert="~{fragments/footer :: block-navigation('Footer')}"></footer>


</body>
</html>
